{% extends 'accordion/base.html'%}
{% load static %}

{% block title %}
    d4nk acc0rdi0n
{% endblock title %}

{% block header %}
<style type="text/css" media="screen">
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: #e3e3e3;
    --main-text: #1d1010;
}

html,
body {
    height: 100%;
}

.theme-dark {
    --main-bg: #1d1010;
    --main-text: #e3e3e3;
}

.page_body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-bg);
    color: var(--main-text)
}

.accordion_wrapper {
    width: 80%;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

.accordion_header > p {
    flex: 1;
}

.accordion_content {
    max-height: 0;
}

.accordion_item {
    overflow: hidden;
}

.toggleHeight {
    max-height: 100%;
}

.toggle-theme {
    position: absolute;
}


</style> 
{% endblock header %}

{% block content %}
    <button class="toggle-theme">THEME</button>
    <div class="page_body">
        <div class="accordion_wrapper">

            <div class="accordion_item">
                <div class="accordion_header">
                    <p class="title" data-toggle>Saya bahlul</p>
                    <div>
                        <button data-toggle-up>up</button>
                        <button data-toggle-down>down</button>
                    </div>
                </div>
                <div class="accordion_content">
                    <p>halo</p>
                    <p>halo</p>
                    <p>halo</p>
                </div>
            </div>

            <div class="accordion_item">
                <div class="accordion_header">
                    <p class="title" data-toggle>Saya gila</p>
                    <div>
                        <button data-toggle-up>up</button>
                        <button data-toggle-down>down</button>
                    </div>
                </div>
                <div class="accordion_content">
                    <ul>
                        <li>skdjad</li>
                        <li>sadkaskd</li>
                    </ul>
                </div>
            </div>

            <div class="accordion_item">
                <div class="accordion_header">
                    <p class="title" data-toggle>Saya gelo</p>
                    <div>
                        <button data-toggle-up>up</button>
                        <button data-toggle-down>down</button>
                    </div>
                </div>
                <div class="accordion_content">
                    <ul>
                        <li>skdjad</li>
                        <li>sadkaskd</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
{% block script %}
    <script charset="utf-8">
(function() {

  $('p[data-toggle]').click(function() {
    let acc_content = $(this).parent().next();
    acc_content.toggleClass("toggleHeight")
  })

  $('button[data-toggle-up]').click(function() {
    let acc_content = $(this).parent().parent().parent();
    let prev_acc = acc_content.prev()
  
    acc_content.insertBefore(prev_acc)
  })

  $('button[data-toggle-down]').click(function() {
    let acc_content = $(this).parent().parent().parent();
    let next_acc = acc_content.next()
  
    acc_content.insertAfter(next_acc)
  })

  $('.toggle-theme').click(function() {
    let doc = $('.page_body');
    doc.toggleClass("theme-dark")
  })

})();
    </script>
{% endblock script %}

